<!DOCTYPE html>
<head>
    <style type="text/css">
        html, body { height: 100%; margin: 0; padding: 0; }
    </style>
    <meta charset="utf-8">
</head>
<body>

    <h1>Experiment list</h1>

    <div class="experiment-list">
        {{ range .Experiments }}
            <div>
                <div>
                    {{ .GetName }}
                </div>

                {{ range .GetVariants }}
                    <div>
                        shows: {{ .GetShows }}; rewards: {{ .GetReward }}
                    </div>
                {{ end }}
            </div>
        {{ end }}
    </div>

    <script type="text/javascript">
    </script>
</body>
</html>
